<div class="col-xs-12 panel" ng-controller="box4Ctrl" ng-init="init();">
  <h4>Books by geolocation</h4>
  Given a geolocation, the application lists all books mentioning a city in vicinity of the given geolocation. Click on the map to list books.
  <div class="form-inline">
    <div class="form-group">
      <select class="form-control" ng-model="radius" ng-options="radius as radius + ' km' for radius in radiuses"></select>
    </div>
    <br><br>
  </div>

  <div id="box4_map" class="col-xs-8"></div>
  <div id="occurrences_table" class="col-xs-4">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Book</th>
          <th>Author</th>
        </tr>
      <tbody>
        <tr ng-show="!books.length"><td colspan="100" class="norows">No books to show.</td></tr>
        <tr ng-repeat="book in books | orderBy: '-count'">
          <td>{{book[1]}}</td>
          <td>{{book[6]}}</td>
        </tr>
      </tbody>
      </thead>
    </table>
  </div>
</div>
<%= javascript_include_tag "postgresql/box4_ctrl" %>