<div class="col-xs-12 panel" ng-controller="box2Ctrl" ng-init="init();">
  <h4>Cities occurring in books</h4>
  Given a book title, the application plots all cities mentioned in the book onto a map.
  <div class="form-inline">
    <div class="form-group">
      <input type="text" ng-model="book" typeahead-on-select="onBookSelected($item, $model, $label, $event)" uib-typeahead="book.title as book.title for book in getBooks($viewValue)" class="form-control" placeholder="Search book title ..." typeahead-loading="loadingBooks" typeahead-no-results="noResults">
      <i ng-show="loadingBooks" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No cities found.
      </div>
    </div>
    <br><br>
  </div>

  <div id="box2_map" class="col-xs-8"></div>
  <div id="occurrences_table" class="col-xs-4">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>City</th>
          <th>Occurences</th>
        </tr>
      <tbody>
        <tr ng-show="!cities.length"><td colspan="100" class="norows">No occurrences to show.</td></tr>
        <tr ng-repeat="city in cities | orderBy: '-0'">
          <td><a ng-click="goToLocation(city[4], city[5]);">{{city[3]}}</a></td>
          <td>{{city[0]}}</td>
        </tr>
      </tbody>
      </thead>
    </table>
  </div>
</div>
<%= javascript_include_tag "postgresql/box2_ctrl" %>