<div class="col-xs-12 panel"ng-controller="box1Ctrl" ng-init="init();">
  <h3>Books by city name</h3>
  Given a city name the application returns all book titles with corresponding authors that mention this city.
  <input type="text" placeholder="Search city name ..." ng-model="city" typeahead-on-select="onCitySelected($item, $model, $label, $event)" class="form-control" uib-typeahead="city.name as city.name for city in getCity($viewValue)" typeahead-loading="loadingCities" typeahead-no-results="noResults">
  <i ng-show="loadingCities" class="glyphicon glyphicon-refresh"></i>
  <div ng-show="noResults">
    <i class="glyphicon glyphicon-remove"></i> No cities found.
  </div>

  <br>
  Number of books: {{books.length}}
  <div id="occurrences_table">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Book</th>
          <th>Translator</th>
          <th>Released</th>
          <th>Author</th>
        </tr>
      <tbody>
        <tr ng-show="!books.length"><td colspan="100" class="norows">No books to show.</td></tr>
        <tr ng-repeat="book in books | orderBy: 'title'">
          <td>{{book[1]}}</td>
          <td>{{book[2]}}</td>
          <td>{{book[3]}}</td>
          <td>{{book[6]}}</td>
        </tr>
      </tbody>
      </thead>
    </table>
  </div>
</div>
<%= javascript_include_tag "postgresql/box1_ctrl" %>