<!DOCTYPE html>
<html>
  <head>
    <title>Geogutenberg</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="loading">
        <img src="/wheel.gif">
      </div>
    <div id="loading-container">
    </div>
    <div ng-app="geogutenberg">
      <br><br>
      <div class="container-fluid">
        <div class="col-xs-12 center panel">
          <h2>Database Assignment - Project Gutenberg</h2>
          <h3>Mads Dam Eckardt Jensen</h3>
          
          <a href="/postgresql/main">PostgreSQL</a> / 
          <a href="/mongodb/main">MongoDB</a> / 
          <a href="/performance_test/main">Performance test</a>
          
        </div>
        <div id="maincontent">
          <%= yield %>    
        </div>
      </div>
    </div>
  </body>
</html>
