<!DOCTYPE html>
<html>
  <head>
    <title>Geogutenberg</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="loading">
        <img src="wheel.gif">
      </div>
    <div id="loading-container">
    </div>
    <div ng-app="geogutenberg">
      <br><br>
      <div class="container-fluid">
        <div class="col-xs-12 center panel">
          <h1>Database Assignment - Project Gutenberg</h1>
          <h2>Mads Dam Eckardt Jensen</h2>
        </div>
        <div id="maincontent">
          <%= yield %>    
        </div>
      </div>
    </div>
  </body>
</html>
